{% extends 'users/base.html' %}
{% block content %}
<h1>Register a User</h1>
<form action="{% url 'users_list' %}" method="post">
	{% csrf_token %}
	<input type="text" name="name" type="text" placeholder="Enter Name" required>
	<input type="number" name="age" type="text" placeholder="Enter Age" required>
	<input type="submit" value="Register">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="{% url 'confirm_delete_all' %}" method="get">
    <input type="submit" value="Delete All Data">
</form>

{% endblock %}
